@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body{
    font-family: 'Roboto', sans-serif;

}


.col-md-7{
    margin-top: 130px;
    line-height: 1.2;
}

.col-md-7 p{
    line-height: 1.5em;
}



.hd-bold{
    font-weight: 500;
}

.hd-bold:hover{
    font-weight: bold;
}

.orange-bg{
    background-color: #feeae9;
    padding: 10px;
    padding-left: 20px;
    padding-top: 30px;
    margin-top: 70px;
    border-radius: 20px;
}

.buy{
    text-decoration: none;
    border-radius: 10px;
    border: none;
    background-color: rgb(246, 19, 94);
    margin: 10px 0;
    padding: 10px 15px;
    color: white;
    font-weight: 500;
}

.price{
    color: rgb(255, 35, 72);
}

.categories{
    margin-top: 100px;
    margin-bottom: 100px;
}

.categories h1{
    color: white;
}

.categories img{
    width: 100px;
}


.cat-1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 15px;
}

.cat-2{
    background-color: orchid;
    padding: 10px 30px;
    border-radius: 15px;
}

.cat-3{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 15px;
}

.shoes{
    margin-bottom: 100px;
}

.mar{
    border: none ;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px lightgray;
}

.mar:hover{
    box-shadow: 5px 7px 10px goldenrod;
    transition: .2s;
}

#backpack{
    margin-bottom: 100px;
}

#subscribe{
    margin-bottom: 100px;
    height: 300px;
}

footer{
    text-align: center;
}
